@using System.Globalization
@model HomeVM

@{
    int count = 0;
    var enCulture = new CultureInfo("en-US");
}

@{
    ViewData["Title"] = "Home";
    }


<!-- hs Slider Start -->
<div class="hs_slider_main_wrapper">
    <div class="hs_slider_img_overlay"></div>
    <div class="hs_slider_heading_wrapper">
        <div class="hs_slider_logo_wraper">
            <img src="~/assets/images/header/slider_logo.png" alt="logo" class="img-responsive" />
        </div>
        <div class="hs_slider_logo_cont_wraper">
            <h2>THE BEST HO<span>R</span>OSCOPE</h2>
        </div>
    </div>
    <div class="hs_slider_cont_wrapper">
        <div class="sun">
            <div class="star"></div>
            <div class="hs_waves2">
                <div class="hs_wave"></div>
                <div class="hs_wave"></div>
                <div class="hs_wave"></div>
                <div class="hs_wave"></div>
            </div>
        </div>
        <div class="mercury">
            <div class="planet">
                <div class="shadow"></div>
            </div>
        </div>
        <div class="venus">
            <div class="planet">
                <div class="shadow"></div>
            </div>
        </div>
        <div class="earth">
            <div class="planet">
                <div class="shadow"></div>
            </div>
        </div>
        <div class="mars">
            <div class="planet">
                <div class="shadow"></div>
            </div>
        </div>
        <div class="jupiter">
            <div class="planet">
                <div class="shadow"></div>
            </div>
        </div>
    </div>
</div>
<!-- hs Slider End -->
<!-- hs about ind wrapper Start -->
<div class="hs_about_indx_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>You still haven’t uncovered your zodiac secrets?</span></h2>
                        <h4><span></span></h4>
                        <p>
                            Have you ever wondered what the stars say about you? ✨<br />
                            Your zodiac sign reveals more than just your traits — it opens the door to cosmic wisdom, guiding your path through love, growth, and self-discovery. With just a few birth details, unlock your sun, moon, and rising signs in seconds.
                        </p>
                    </div>
                </div>
            </div>

            @foreach (AboutUs aboutUs in Model.AboutUs)
            {
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_left_img_wrapper">
                        <img src="~/assets/images/content/@aboutUs.Image" alt="about_img" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_right_cont_wrapper">
                        <h2>@aboutUs.Title</h2>
                        <p>
                            @aboutUs.Description
                        </p>
                        <div class="hs_effect_btn hs_about_btn">
                            <ul>
                                <li>
                                    <a asp-controller="Horoscope" asp-action="Index" class="hs_btn_hover">
                                        Discover                                      </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- hs about ind wrapper End -->
<!-- hs title wrapper Start -->
<div class="hs_title_main_wrapper">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="hs_about_heading_main_wrapper">
                <div class="hs_about_heading_wrapper">
                    <h2>Our <span> Products</span></h2>
                    <h4><span></span></h4>
                    <p>
                        Channel the Power of Crystals
                        Discover our curated selection of natural gemstones, each aligned with specific zodiac signs and energetic properties. Whether for healing, clarity, or protection, these powerful crystals can support your personal journey and elevate your spiritual practices.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (Product product in Model.Products)
            {
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="hs_title_box_main_wrapper">
                        <div class="hs_title_img_wrapper">
                            <img src="~/assets/images/content/shop/@product.ProductImages?.FirstOrDefault(pi=>pi.IsPrimary==true)?.Image">
                            <ul>
                                <li>$@product.Price </li>
                            </ul>
                        </div>
                        <div class="hs_title_img_cont_wrapper">
                            <h2><a href="#">@product.Name</a></h2>
                            <p>
                                @(product.Description.Length > 200
                                    ? product.Description.Substring(0, 200) + "..."
                                    : product.Description)
                            </p>

                            <h5><a asp-controller="Shop" asp-action="Details" asp-route-id="@product.Id">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<!-- hs title wrapper End -->
<!-- hs sign wrapper Start -->
<div class="hs_sign_main_wrapper">
    <div class="hs_news_slider_bg_overlay"></div>
    <div class="container">
        <div class="hs_sign_heading_wrapper">
            <div class="hs_about_heading_main_wrapper">
                <div class="hs_about_heading_wrapper">
                    <h2>Choose Your <span>Zodiac Sign</span></h2>
                    <h4><span></span></h4>
                    <p>The zodiac is a celestial band in the sky where the Sun, Moon, and planets appear to move. It's divided into 12 equal parts, called signs, each corresponding to a specific period of the year and a constellation. These signs, like Aries, Taurus, and Gemini, are used in astrology to predict personality traits and future events. The zodiac also has a corresponding symbol, which often represents the sign's nature and energy.</p>
                </div>
            </div>
        </div>
        @*  <div class="hs_sign_center_wrapper visible-xs visible-sm">
            <div class="hs_cycle_main_wrapper">
                <div class="hs_cycle_img">
                    <img src="~/assets/images/content/" alt="circle_img">
                    <span class="pulse"></span>

                    @foreach (Zodiac zodiac in Model.Zodiacs)
                    {
                        count++;
                        <div class="hs_tab_shap@(count)">
                            <a href="#">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="68.811px" height="64.729px" viewBox="0 0 68.811 64.729" enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
							c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                                </svg>
                                <p><i class="@zodiac.Icon"></i></p>
                            </a>
                        </div>
                    }

                </div>

            </div>
        </div> *@
        <div class="hs_sign_left_wrapper">
            <div class="row">
                @{
                    int index = 1;
                }
                @foreach (Zodiac zodiac in Model.Zodiacs.Take(6))
                {
                    var wrapperClass = index == 1
                    ? "hs_sign_left_tabs_wrapper hs_sign_left_tabs_border_wrapper" + index
                    : "hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_left_tabs_border_wrapper" + index;
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="@wrapperClass">
                            <div class="hs_slider_tabs_icon_wrapper">
                                <i class="@zodiac.Icon"></i>
                            </div>
                            <div class="hs_slider_tabs_icon_cont_wrapper">
                                <ul>
                                    <li><a href="#" class="hs_tabs_btn">@zodiac.Name</a></li>
                                    <li>@zodiac.StartDate.ToString("dd MMMM", enCulture) - @zodiac.EndDate.ToString("dd MMMM", enCulture)</li>
                                </ul>
                            </div>
                            <span></span>
                        </div>
                    </div>
                    index++;
                }
            </div>
        </div>

        <div class="hs_sign_right_wrapper visible-xs">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hs_sign_left_tabs_wrapper hs_sign_right_tabs_border_wrapper1">
                        <span></span>

                        <div class="hs_slider_tabs_icon_wrapper">
                            <i class="flaticon-libra"></i>
                        </div>
                        <div class="hs_slider_tabs_icon_cont_wrapper">
                            <ul>
                                <li><a href="#" class="hs_tabs_btn">Libra</a></li>
                                <li>31 March - 12 October</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="hs_sign_center_wrapper hidden-sm hidden-xs">
            <div class="hs_cycle_main_wrapper">
                <div class="hs_cycle_img">
                    <img src="~/assets/images/content/galaxyImg.jpg" alt="galaxyImg">
                    <span class="pulse"></span>

                    @foreach (Zodiac zodiac in Model.Zodiacs)
                    {
                        count++;
                        <div class="hs_tab_shap@(count)">
                            <a href="#">
                                <svg version="1.1" id="Layer_13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="68.811px" height="64.729px" viewBox="0 0 68.811 64.729" enable-background="new 0 0 68.811 64.729" xml:space="preserve">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0,52.763c0,0,26.125,0.367,42.664,11.967l26.147-46.796
							c0,0-30.278-18.234-68.054-17.929L0,52.763z" />
                                </svg>
                                <p><i class="@zodiac.Icon"></i></p>
                            </a>
                        </div>
                    }

                </div>

            </div>
        </div>
        <div class="hs_sign_right_wrapper hidden-xs">
            <div class="row">
                @{
                    int index2 = 1;
                }
                @foreach (Zodiac zodiac in Model.Zodiacs.Skip(6).Take(6))
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_wrapper_2 hs_sign_right_tabs_border_wrapper@(index2)">
                            <span></span>
                            <div class="hs_slider_tabs_icon_cont_wrapper">
                                <ul>
                                    <li><a href="#" class="hs_tabs_btn">@zodiac.Name</a></li>
                                    <li>@zodiac.StartDate.ToString("dd MMMM", enCulture) - @zodiac.EndDate.ToString("dd MMMM", enCulture)</li>
                                </ul>
                            </div>
                            <div class="hs_slider_tabs_icon_wrapper">
                                <i class="@zodiac.Icon"></i>
                            </div>
                        </div>
                    </div>
                    index2++;
                }
            </div>
        </div>

    </div>
</div>
<!-- hs sign wrapper End -->

<!-- hs service wrapper Start -->
@await Component.InvokeAsync("Service", new { categoryId = (int?)ViewData["SelectedCategoryId"] })
<!-- hs service wrapper End -->

<!-- hs latest news wrapper Start -->
<div class="hs_latest_news_main_wrapper">
    <div class="hs_news_slider_bg_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>Latest <span> Blogs</span></h2>
                        <h4><span></span></h4>
                        <p>
                            Stay Informed with the Stars
                            Discover the latest updates from the world of astrology, spiritual wellness, and cosmic trends. From planetary movements to zodiac predictions and self-care rituals — our blog keeps you aligned, inspired, and in tune with the universe.
                        </p>
                    </div>
                </div>
            </div>

            @foreach (Blog blog in Model.Blogs)
            {
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="hs_lest_news_box_wrapper">
                        <div class="hs_lest_news_img_wrapper">
                            <img src="~/assets/images/content/blog/@blog.Image">
                            <div class="hs_lest_news_date_wrapper">
                                <ul>
                                    <li>@blog.CreatedAt.ToString("dd")</li>
                                    <li>@blog.CreatedAt.ToString("MMM").ToUpper()</li>
                                </ul>
                            </div>
                        </div>
                        <div class="hs_lest_news_cont_wrapper">
                            <h5>@blog.Title</h5>
                            <p>
                                @(blog.Content.Length > 200
                                    ? blog.Content.Substring(0, 200) + "..."
                                    : blog.Content)
                            </p>
                            <h4><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h4>
                        </div>
                        <div class="hs_lest_news_cont_bottom">
                            <div class="hs_lest_news_cont_bottom_left">
                                <p><a href="#">by - @blog.AppUser.Name</a></p>
                            </div>
                            <div class="hs_lest_news_cont_bottom_center">
                                <p><a href="#">@blog.Likes.Count Likes</a></p>
                            </div>
                            <div class="hs_lest_news_cont_bottom_right">
                                <p><a href="#">@blog.Comments.Count Comments</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- hs latest news wrapper End -->


<!-- hs client slider wrapper Start -->
<div class="hs_client_slider_main_wrapper">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="hs_client_slider_wrapper">
                <div class="owl-carousel owl-theme">
 
                    @foreach (Partner partner in Model.Partners)
                    {
                        <div class="item">
                            <div class="hs_client_img_wrapper">
                                <img src="~/assets/images/content/@partner.Image" alt="client_img" />
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs client slider wrapper End -->
<!-- hs online slider wrapper Start -->
<div class="hs_online_main_slider_wrapper online_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="hs_online_slider_left_cont">
                    <h2>speak to <span>our expert !</span></h2>
                    <p>Need personalized insights? Our experienced astrology experts are here to guide you through your life's most important questions — from love and career to health and purpose. Connect now and get clarity like never before!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="hs_online_slider_wrapper">
                    <div class="owl-carousel owl-theme">

                        @foreach (Expert expert in Model.Experts)
                        {
                            <div class="item">
                                <div class="hs_online_img_wrapper">
                                    <img src="~/assets/images/content/@expert.Image" alt="online_img" class="img-responsive" />
                                    <span class="offline"></span>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs online slider wrapper End -->