@model BlogDetailsVM

@section links {
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css" />
}

    <!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>@Model.Blog.Title</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>
                        <li><a href="#">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                        <li>@Model.Blog.Title</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs sidebar Start -->
<div class="hs_blog_categories_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="hs_blog_left_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_box1_main_wrapper">
                                <div class="hs_blog_box1_img_wrapper">
                                    <img src="~/assets/images/content/blog/bc1.jpg" alt="blog_img">
                                    <div class="hs_blog_Indx_date_wrapper">
                                        <ul>
                                            <li>29</li>
                                            <li>Oct</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="hs_blog_box1_cont_main_wrapper">
                                    <div class="hs_blog_cont_heading_wrapper">
                                        <h2>Rahu Enters Cancer and Ketu Enters Capricorn.</h2>
                                        <h4><span></span></h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dlore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                            ex ea odo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est labrum. Sed ut perspiciatis unde omnis iste natus error sit.<br><br>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore atis et quasi architecto
                                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit rnatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                            est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non mquam eius modi tempora incidunt ut labore et dolore.
                                        </p>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="hs_blog_box3_main_wrapper hs_blog_single_box3_main_wrapper">
                                                <div class="hs_blog_box3_left_cont_wrapper">
                                                    <div class="hs_blog_quote">
                                                        <i class="fa fa-quote-left"></i>
                                                    </div>
                                                    <div class="hs_blog_quote_cont">
                                                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                                    </div>
                                                </div>
                                                <div class="hs_blog_box3_right_cont_wrapper">
                                                    <div class="hs_testi_client_main_wrapper hs_blog_box3_client_main_wrapper">
                                                        <div class="hs_testi_client_cont_img_sec">
                                                            <img src="~/assets/images/content/testi_client_img1.jpg" alt="testi_img" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="hs_blog_single_first_cont_wrapper">
                                                <p>
                                                    Oluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore atis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                                    sit rnatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hs_blog_box1_bottom_cont_main_wrapper">
                                    <div class="hs_blog_box1_bottom_cont_left">
                                        <ul>
                                            <li><a href="#">by - Admin</a></li>
                                            <li><a href="#">1244 Likes</a></li>
                                            <li><a href="#">256 Comments</a></li>
                                            <li><a href="#">In News - Horoscope</a></li>
                                        </ul>
                                    </div>
                                    <div class="hs_blog_box1_bottom_cont_right">
                                        <ul>
                                            <li>Share :</li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_first_sec_wrapper hs_ar_third_sec_heading_wrapper">
                                <h2>Comments (04)</h2>
                                <h4><span></span></h4>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_rs_comment_main_wrapper">
                                <div class="hs_rs_comment_img_wrapper">
                                    <img src="~/assets/images/content/kundali/comm_img1.jpg" alt="comment_img">
                                </div>
                                <div class="hs_rs_comment_img_cont_wrapper hs_rs_blog_single_comment_img_cont_wrapper">
                                    <h2>Joahn Doe <span>Jan 2 , 2022 - Friday</span> <a href="#"> - Reply</a></h2>
                                    <p>
                                        The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally named Vishal
                                        Devgan !
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_rs_comment_main_wrapper">
                                <div class="hs_rs_comment_img_wrapper">
                                    <img src="~/assets/images/content/kundali/comm_img2.jpg" alt="comment_img">
                                </div>
                                <div class="hs_rs_comment_img_cont_wrapper hs_rs_blog_single_comment_img_cont_wrapper">
                                    <h2>Joahn Doe <span>Jan 2 , 2022 - Friday</span> <a href="#"> - Reply</a></h2>
                                    <p>
                                        The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally named Vishal
                                        Devgan !
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_rs_comment_main_wrapper">
                                <div class="hs_rs_comment_img_wrapper">
                                    <img src="~/assets/images/content/kundali/comm_img3.jpg" alt="comment_img">
                                </div>
                                <div class="hs_rs_comment_img_cont_wrapper hs_rs_blog_single_comment_img_cont_wrapper">
                                    <h2>Joahn Doe <span>Jan 2 , 2022 - Friday</span> <a href="#"> - Reply</a></h2>
                                    <p>
                                        The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally named Vishal
                                        Devgan !
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_rs_comment_main_wrapper">
                                <div class="hs_rs_comment_img_wrapper">
                                    <img src="~/assets/images/content/kundali/comm_img1.jpg" alt="comment_img">
                                </div>
                                <div class="hs_rs_comment_img_cont_wrapper hs_rs_blog_single_comment_img_cont_wrapper">
                                    <h2>Joahn Doe <span>Jan 2 , 2022 - Friday</span> <a href="#"> - Reply</a></h2>
                                    <p>
                                        The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally named Vishal
                                        Devgan !
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_five_heading_sec_wrapper">
                                <h2>Leave A Comment</h2>
                                <h4><span></span></h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="hs_kd_six_sec_input_wrapper">
                                <label>Name</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="hs_kd_six_sec_input_wrapper">
                                <label>Email</label>
                                <input type="email">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_six_sec_input_wrapper">
                                <label>Comments</label>
                                <textarea rows="6"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_six_sec_btn">
                                <ul>
                                    <li><a href="#">submit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_blog_right_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_search_wrapper">
                                <input type="text" placeholder="Search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Blog CATEGORIES</h2>
                            </div>
                            <div class="hs_blog_right_cate_list_cont_wrapper">
                                <ul>
                                    @foreach (var blogCategory in Model.BlogCategories)
                                    {
                                        <li>
                                            <a asp-controller="Blog" asp-action="Index" asp-route-categoryId="@blogCategory.Id">
                                                @blogCategory.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Recent News</h2>
                            </div>

                            @foreach (var blog in Model.RecentNews)
                            {
                                <div class="hs_blog_right_recnt_cont_wrapper">
                                    <div class="hs_footer_ln_img_wrapper">
                                        <img src="~/assets/images/content/blog/@blog.Image" class="img-responsive" alt="ln_img" />
                                    </div>
                                    <div class="hs_footer_ln_cont_wrapper">
                                        <h4>@blog.Title</h4>
                                        <p>
                                            @blog.CreatedAt.ToString("d MMMM yyyy")
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Archives</h2>
                            </div>
                            <div class="hs_blog_right_cate_list_cont_wrapper">
                                <ul>
                                    <li><a href="#">May 2017</a></li>
                                    <li><a href="#">June 2017</a></li>
                                    <li><a href="#">July 2017</a></li>
                                    <li><a href="#">Augast 2017</a></li>
                                    <li><a href="#">September 2017</a></li>
                                    <li><a href="#">October 2017</a></li>
                                    <li><a href="#">November 2017</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Instagram</h2>
                            </div>
                            <div class="hs_blog_right_insta_img_wrapper">
                                <ul>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta1.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta2.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta3.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta4.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta5.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta6.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta7.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta8.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta9.jpg" alt="blog_img" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs">
                            <div class="pager_wrapper">
                                <ul class="pagination">
                                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="btc_shop_pagi"><a href="#">01</a></li>
                                    <li class="btc_shop_pagi"><a href="#">02</a></li>
                                    <li class="btc_third_pegi btc_shop_pagi"><a href="#">03</a></li>
                                    <li class="hidden-xs btc_shop_pagi"><a href="#">04</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs sidebar End -->
