@section links {
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css" />
}

@{
    string monthName = "";
    if (Model.SelectedMonth != null)
    {
        monthName = new System.Globalization.CultureInfo("en-US")
                        .DateTimeFormat.GetMonthName(Model.SelectedMonth.Value)
                        .ToUpperInvariant();
    }
}

@model BlogVM

<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    @if (Context.Request.Query.ContainsKey("month") && Context.Request.Query.ContainsKey("year"))
                    {
                        <h2>Results for: @monthName / @Model.SelectedYear</h2>
                    }
                    else
                    {
                        <h2>Blog</h2>
                    }
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs sidebar Start -->
<div class="hs_blog_categories_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="hs_blog_left_sidebar_main_wrapper">
                    <div class="row">
                        @foreach (var blog in Model.Blogs.Items)
                        {
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_blog_box1_main_wrapper">
                                    <div class="hs_blog_box1_img_wrapper">
                                        <img src="~/assets/images/content/blog/@blog.Image" alt="blog_img">
                                        <div class="hs_blog_Indx_date_wrapper">
                                            <ul>
                                                <li>@blog.CreatedAt.ToString("dd")</li>
                                                <li>@blog.CreatedAt.ToString("MMM").ToUpper()</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="hs_blog_box1_cont_main_wrapper">
                                        <div class="hs_blog_cont_heading_wrapper">
                                            <h2>@blog.Title</h2>
                                            <h4><span></span></h4>
                                            <p>
                                                @(blog.Content.Length > 500
                                                    ? blog.Content.Substring(0, 500) + "..."
                                                    : blog.Content)
                                            </p>
                                            <h5><a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                        </div>
                                    </div>
                                    <div class="hs_blog_box1_bottom_cont_main_wrapper">
                                        <div class="hs_blog_box1_bottom_cont_left">
                                            <ul>
                                                <li><a href="#">by - @blog.AppUser.Name</a></li>
                                                <li><span id="likesCount">@Model.BlogLikesCount Likes</span></li>
                                                <li><a href="#">@blog.CommentsCount Comments</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="pager_wrapper">
                        <ul class="pagination">
                            @if (Model.Blogs.CurrentPage > 1)
                            {
                                <li>
                                    <a asp-action="Index"
                                       asp-route-page="@(Model.Blogs.CurrentPage - 1)"
                                       asp-route-categoryId="@Model.SelectedCategoryId">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            }

                            @for (int i = 1; i <= Model.Blogs.TotalPage; i++)
                            {
                                <li class="btc_shop_pagi @(i == Model.Blogs.CurrentPage ? "active" : "")">
                                    <a asp-action="Index"
                                       asp-route-page="@i"
                                       asp-route-categoryId="@Model.SelectedCategoryId">
                                        @i
                                    </a>
                                </li>
                            }

                            @if (Model.Blogs.CurrentPage < Model.Blogs.TotalPage)
                            {
                                <li>
                                    <a asp-action="Index"
                                       asp-route-page="@(Model.Blogs.CurrentPage + 1)"
                                       asp-route-categoryId="@Model.SelectedCategoryId">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                <div class="hs_blog_right_sidebar_main_wrapper">
                    <div class="row">

                        <form asp-action="Index" asp-route-id="@Model.SelectedCategoryId" method="get">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_blog_right_search_wrapper">
                                    <input type="text" accept="@Model.Search" name="search" placeholder="Search..." value="@Context.Request.Query["search"]" />
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>CATEGORIES</h2>
                            </div>
                            <div class="hs_blog_right_cate_list_cont_wrapper">
                                <ul>
                                    <li>
                                        <a asp-controller="Blog" asp-action="Index" asp-route-id="">
                                            All
                                        </a>
                                    </li>
                                    @foreach (var blogCategory in Model.BlogCategories)
                                    {
                                        <li>
                                            <a asp-controller="Blog" asp-action="Index" asp-route-categoryId="@blogCategory.Id" asp-route-search="@Model.Search">
                                                @blogCategory.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Recent News</h2>
                            </div>

                            @foreach (var blog in Model.RecentNews)
                            {
                                <div class="hs_blog_right_recnt_cont_wrapper">
                                    <div class="hs_footer_ln_img_wrapper">
                                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">
                                            <img src="~/assets/images/content/blog/@blog.Image" class="img-responsive" alt="ln_img" />
                                        </a>
                                    </div>
                                    <div class="hs_footer_ln_cont_wrapper">
                                        <h4><a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">@blog.Title</a></h4>
                                        <p>
                                            @blog.CreatedAt.ToString("d MMMM yyyy")
                                        </p>
                                    </div>
                                </div>
                            }

                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Archives</h2>
                            </div>
                            <div class="hs_blog_right_cate_list_cont_wrapper">
                                <ul>
                                    @foreach (var blog in Model.Archives)
                                    {
                                        <li>
                                            <a asp-action="Index" asp-controller="Blog" asp-route-year="@blog.Year" asp-route-month="@blog.Month">
                                                @blog.MonthName @blog.Year (@blog.Count)
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        @* 
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Instagram</h2>
                            </div>
                            <div class="hs_blog_right_insta_img_wrapper">
                                <ul>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta1.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta2.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta3.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta4.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta5.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta6.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta7.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta8.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/assets/images/content/blog/inta9.jpg" alt="blog_img" /></a></li>
                                </ul>
                            </div>
                        </div> *@
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs sidebar End -->
