
﻿@using HoroScope.Utilities.Enums
@model ShopVM

@section links {
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css" />
}
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Our Shop</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                        <li>Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs sidebar Start -->
<div class="hs_blog_categories_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 visible-lg visible-md">
                <div class="hs_blog_right_sidebar_main_wrapper">
                    <div class="row">
                        <form asp-action="Index" asp-route-id="@Model.SelectedCategoryId" asp-route-key="@Model.Key" method="get">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="hs_blog_right_search_wrapper">
                                    <input type="text" accept="@Model.Search" name="search" placeholder="Search..." value="@Context.Request.Query["search"]" />
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>CATEGORIES</h2>
                            </div>
                            <div class="hs_blog_right_cate_list_cont_wrapper">
                                <ul>
                                    <li>
                                        <a asp-controller="Shop" asp-action="Index">
                                            All Categories
                                        </a>
                                    </li>
                                    @foreach (var category in Model.TopCategories)
                                    {
                                        <li>
                                            <a asp-controller="Shop" asp-action="Index" asp-route-categoryId="@category.Id" asp-route-search="@Model.Search" asp-route-key="@Model.Key">
                                                @category.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>New Products</h2>
                            </div>
                            <div class="hs_blog_right_cate_list_cont_wrapper">
                                <ul>
                                    @foreach (var product in Model.NewProducts)
                                    {
                                        <li>
                                            <a asp-controller="Shop" asp-action="Details" asp-route-id="@product.Id">
                                                @product.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="hs_blog_left_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_shop_tabs_sec_wrapper">
                                <ul class="nav nav-pills">
                                    <li class="active"><a asp-controller="Shop" asp-action="Index">Products</a></li>
                                    @foreach (var category in Model.ProductCategories)
                                    {
                                        <li>
                                            <a asp-controller="Shop" asp-action="Index" asp-route-categoryId="@category.Id">
                                                @category.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_shop_tabs_cont_sec_wrapper">
                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="hs_kd_first_sec_wrapper">
                                                    <h2>OUR PRODUCTS (@Model.ProductCount)</h2>
                                                    <h4><span></span></h4>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="hs_kd_first_sec_cont_wrapper">
                                                    <li class="short">
                                                        <form asp-action="Index" asp-route-categoruId="@Model.SelectedCategoryId" asp-route-search="@Model.Search">
                                                            <select name="key" onchange="this.form.submit()" class="nice-select">
                                                                @foreach (var sort in Enum.GetValues(typeof(SortType)))
                                                                {
                                                                    @if (Model.Key == (int)sort)
                                                                    {
                                                                        <option selected value="@((int)sort)">Sort by: @sort.ToString()</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@((int)sort)">Sort by: @sort.ToString()</option>
                                                                    }

                                                                }
                                                            </select>
                                                        </form>
                                                    </li>
                                                </div>
                                            </div>

                                            @foreach (var product in Model.Products.Items)
                                            {
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="hs_shop_prodt_main_box">
                                                        <div class="hs_shop_prodt_img_wrapper" style="position: relative;">
                                                            <img src="~/assets/images/content/shop/@product.ProductImages?.FirstOrDefault(pi => pi.IsPrimary == true)?.Image" alt="shop_product" />
                                                            <a href="#" class="add-to-basket-btn" data-id="@product.Id">
                                                                <i class="fa fa-shopping-cart" style="font-size:24px"></i>
                                                            </a>

                                                            <a asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@product.Id"
                                                               style="position: absolute; top: 10px; right: 10px; font-size: 24px; color: red;"
                                                               title="Add to Wishlist">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div class="hs_shop_prodt_img_cont_wrapper">
                                                            <h2><a asp-controller="Shop" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h2>
                                                            @if (product.Discount > 0)
                                                            {
                                                                var discountedPrice = product.Price - (product.Price * product.Discount / 100);
                                                                <h3>
                                                                    $@discountedPrice.ToString("0.##", System.Globalization.CultureInfo.InvariantCulture) &nbsp;
                                                                    <del>$@product.Price.ToString("0.##", System.Globalization.CultureInfo.InvariantCulture)</del> &nbsp;
                                                                    <span>(@product.Discount.ToString("F0")% off)</span>
                                                                </h3>
                                                            }
                                                            else
                                                            {
                                                                <h3>
                                                                    $@product.Price.ToString("0.##", System.Globalization.CultureInfo.InvariantCulture)
                                                                </h3>
                                                            }

                                                            @{
                                                                double rating = product?.Rating ?? 0;
                                                                int fullStars = (int)Math.Floor(rating);
                                                                int emptyStars = 5 - fullStars;
                                                            }

                                                            @for (int i = 0; i < fullStars; i++)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                            @for (int i = 0; i < emptyStars; i++)
                                                            {
                                                                <i class="fa fa-star-o"></i>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <div class="pager_wrapper">
                                            <ul class="pagination">
                                                @if (Model.Products.CurrentPage > 1)
                                                {
                                                    <li>
                                                        <a asp-action="Index"
                                                           asp-route-page="@(Model.Products.CurrentPage - 1)"
                                                           asp-route-categoryId="@Model.SelectedCategoryId">
                                                            <i class="fa fa-angle-left"></i>
                                                        </a>
                                                    </li>
                                                }

                                                @for (int i = 1; i <= Model.Products.TotalPage; i++)
                                                {
                                                    <li class="btc_shop_pagi @(i == Model.Products.CurrentPage ? "active" : "")">
                                                        <a asp-action="Index"
                                                           asp-route-page="@i"
                                                           asp-route-categoryId="@Model.SelectedCategoryId">
                                                            @i
                                                        </a>
                                                    </li>
                                                }

                                                @if (Model.Products.CurrentPage < Model.Products.TotalPage)
                                                {
                                                    <li>
                                                        <a asp-action="Index"
                                                           asp-route-page="@(Model.Products.CurrentPage + 1)"
                                                           asp-route-categoryId="@Model.SelectedCategoryId">
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs sidebar End -->

<script>
    $(document).ready(function () {
        $('.add-to-basket-btn').click(function (e) {
            e.preventDefault();  
            var productId = $(this).data('id');


            $.ajax({
                url: '@Url.Action("AddBasket", "Basket")',
                type: 'POST',
                data: { id: productId }, 
                success: function (response) {

                    alert('Product added to the basket!');
                },
                error: function () {

                    alert('An error occurred, please try again.');
                }
            });
        });
    });
</script>