@model AboutUsVM

<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>About Us</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs about ind wrapper Start -->
<div class="hs_about_indx_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>About <span>Horoscope</span></h2>
                        <h4><span></span></h4>
                        <p>Horoscopes are a fascinating way to explore how the alignment of the stars and planets at the time of your birth can influence your personality, behavior, and life path. Rooted in ancient astrology, horoscopes offer insights into your emotional tendencies, strengths, challenges, and even your future.</p>
                    </div>
                </div>
            </div>

            @foreach (AboutUs aboutUs in Model.AboutUs)
            {
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_left_img_wrapper">
                        <img src="~/assets/images/content/@aboutUs.Image" alt="about_img" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hs_about_right_cont_wrapper">
                        <h2>@aboutUs.Title</h2>
                        <p>
                            @aboutUs.Description
                        </p>
                        <h3>Contact Us</h3>
                        <h1>@Model.ContactNumber</h1>
                        <div class="hs_effect_btn hs_about_btn">
                            <ul>
                                <li><a href="#" class="hs_btn_hover">Read more</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- hs about ind wrapper End -->
<!-- hs Counter wrapper Start -->
<div class="hs_counter_main_wrapper">
    <div class="hs_counter_cont_wrapper hs_counter_cont_wrapper1">
        <div class="count-description">
            <div class="hs_main_cycle_main">
                <span class="timer">25</span>
            </div>
            <h5 class="con1">Trusted by<br> Million Clients</h5>
        </div>
    </div>
    <div class="hs_counter_cont_wrapper">
        <div class="count-description">
            <div class="hs_main_cycle_main">
                <span class="timer">73</span>
            </div>
            <h5 class="con2">
                Years of<br> Experience
            </h5>
        </div>
    </div>
    <div class="hs_counter_cont_wrapper">
        <div class="count-description">
            <div class="hs_main_cycle_main">
                <span class="timer">45</span>
            </div>
            <h5 class="con3">
                Types of <br> Horoscopes
            </h5>
        </div>
    </div>
    <div class="hs_counter_cont_wrapper">
        <div class="count-description">
            <div class="hs_main_cycle_main">
                <span class="timer">99</span>
            </div>
            <h5 class="con4">
                Qualified <br> Astrologers
            </h5>
        </div>
    </div>
    <div class="hs_counter_cont_wrapper hs_counter_cont_wrapper5">
        <div class="count-description">
            <div class="hs_main_cycle_main">
                <span class="timer">89</span>
            </div>
            <h5 class="con4">
                Sucess<br> Horoscope
            </h5>
        </div>
    </div>
</div>
<!-- hs Counter wrapper End -->

<!-- hs about video wrapper Start -->
<div class="hs_about_video_main_wrapper">
    <div class="hs_about_video_img_overlay"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="hs_about_video_icon_wrapper">
                <a class="popup-youtube" href="https://www.youtube.com/embed/xImpyYRVGOc"><img src="~/assets/images/content/about/play_icon.png" alt="play_icon" /></a>
                <h2>Play Astrologer Tips <span>And better Your Life</span></h2>
            </div>
        </div>
    </div>
</div>
<!-- hs about video wrapper End -->
<!-- hs service wrapper Start -->
<div class="hs_service_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        <h2>Our <span> Services</span></h2>
                        <h4><span></span></h4>
                        <p>We offer a variety of astrology-based tools and personalized services designed to guide, inspire, and empower our users on their life journey. Whether you're a beginner exploring your birth chart or someone seeking deeper astrological insights, we’ve got you covered.</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-area ptb-100">
                <div class="container">
                    <div class="portfolio-filter clearfix text-center">

                        <ul id="filter">
                            <li>
                                <a asp-controller="AboutUs" asp-action="Index">
                                    All
                                </a>
                            </li>
                            @foreach (var serviceCategory in Model.ServiceCategories)
                            {
                                <li>
                                    <a asp-controller="AboutUs" asp-action="Index" asp-route-categoryId="@serviceCategory.Id">
                                        @serviceCategory.Name
                                    </a>
                                </li>
                            }
                        </ul>

                    </div>
                    <div class="row">
                        <div id="gridWrapper" class="clearfix">

                            @foreach (Service service in Model.Services)
                            {
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 portfolio-wrapper III_column" data-groups='[ "all"]'>
                                    <div class="hs_service_main_box_wrapper">
                                        <div class="hs_service_icon_main_wrapper">
                                            <div class="hs_service_icon_wrapper">
                                                <i class="@service.Icon"></i>
                                                <div class="btc_step_overlay"></div>
                                            </div>
                                        </div>
                                        <div class="hs_service_icon_cont_wrapper">
                                            <h2>@service.Name</h2>
                                            <p>@service.Description</p>
                                            <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!--/#gridWrapper-->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!--/.portfolio-area-->
        </div>
    </div>
</div>
<!-- hs service wrapper End -->
