@{
    Layout = null;
}

@model List<OrderVM>

<h2>Orders</h2>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Created</th>
            <th>Items</th>
            <th>Price</th>
            <th>Change Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            var statuses = Enum.GetValues(typeof(HoroScope.Utilities.Enums.OrderStatus));
        }
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Status</td>
                <td>@order.CreatedAt.ToString("yyyy-MM-dd")</td>
                <td>@order.TotalItems</td>
                <td>$@order.TotalPrice.ToString("0.##")</td>
                <td>
                    <form asp-action="UpdateOrderStatus" method="post" class="d-flex gap-2 align-items-center">
                        <input type="hidden" name="orderId" value="@order.Id" />
 @*                        <select name="newStatus" class="form-control form-control-sm">
                            @foreach (var status in statuses)
                            {
                                var selected = status.Equals(order.Status) ? "selected" : "";
                                <option value="@status" @(status.Equals(order.Status) ? "selected" : "")>@status</option>

                            }
                        </select> *@
                        <button type="submit" class="btn btn-sm btn-success">Change</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
